{% extends "ads/base.html" %}
{% block title %}Ads-Detail{% endblock %}

{% block content %}

{% if ad %}

<input type="hidden" id="user_token" value="{{token}}">

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="blog-main">
                    <h3 class="pb-3 mb-4 font-italic border-bottom">{{ ad.title }}</h3>
                    <div class="blog-post">
                        {% if images %}
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for obj in images %}
                                {% if obj.number == 0 %}
                                <li data-target="#carouselExampleIndicators" data-slide-to={{obj.number}}
                                    class="active"></li>
                                {% else %}
                                <li data-target="#carouselExampleIndicators" data-slide-to={{obj.number}}></li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                <!--First slide-->
                                {% for obj in images %}
                                {% if obj.number == 0 %}
                                <div class="carousel-item active">
                                    {% else %}
                                    <div class="carousel-item">
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card-deck">
                                                    <!--/.img-->
                                                    <div class="card text-white bg-secondary border-light">
                                                        {% if obj.image.img.url %}
                                                        <img class="card-img-top" src="{{ obj.image.img.url }}"
                                                             alt="Card image cap">
                                                        {% endif %}
                                                    </div>
                                                    <!--/.img-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!--/.First slide-->
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                       data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <h3 class="blog-post-title"> Ad info:</h3>
                    <p class="blog-post-meta">{{ ad.category.name }}</p>
                    <p class="blog-post-meta">{{ ad.created_on }} by <a href="#">{{ ad.author }}</a></p>
                    <span class="blog-post-meta" style="white-space: pre-line">{{ ad.description }}</span>
                    <hr>
                    <h3>Price: {{ad.price}} <span class="text-muted">
                        (UAH){% if ad.negotiable_price is True %} (Negotiable){% endif %}
                    </span></h3>
                </div>
            </div>

            <div class="col-md-12 col-xs-8 col-centered">
                <hr class="mb-4">
                {% if user.is_authenticated %}


                <h3 class="mb-3">To chat with author:</h3>
                <form class="needs-validation" name="message_add_form" id="message_add_form" action=""
                      method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type='hidden' id='hidden_input' value="{{ user.id }}" data-post='{{ ad.slug }}'>
                    <div class="mb-3">
                        <label for="comment_body">Enter your message here:</label>
                        <textarea required class="form-control" name="comment_body" id="comment_body"
                                  rows="3" form="message_add_form"></textarea>
                    </div>
                    <div class="mb-3">
                        <button id="add_comment_btn" class="btn btn-primary btn-lg btn-block" type="submit"
                                form="message_add_form">
                            Send Message
                        </button>
                    </div>

                </form>
                <hr class="mb-4">
                {% endif %}

                <h3 class="mb-3">Messages:</h3>
                {% if messages %}
                {% for message in messages %}
                <div class='mb-3'>
                    <p>{{ message.body }}</p>
                    <small>Author: {{ message.author.username }}</small>
                    <br>
                    <small>{{ message.created_on|date:"Y-m-d H:i:s" }}</small>
                    <hr>
                </div>
                {% endfor %}
                {% else %}
                <p>There are no messages yet.</p>
                {% endif %}
                <div class='mb-3' id='messages'>
                    <!--div for add comment-->
                </div>

            </div>

        </div>
    </div>
</div>

{% else %}
<p>Ad is not found.</p>
{% endif %}

{% endblock %}