{% extends "ads/base.html" %}
{% block title %}Ads-Home{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to "My Ad" app!</h1>
    <p class="h2">Here you can create your own ad for free."</p>
</div>
{% endblock %}
{% block carousel %}
{% if ads.8 %}
<div class="album py-5 bg-dark">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <!--First slide-->
                <div class="carousel-item active">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="card-deck">
                                <div class="card text-white bg-secondary border-light">
                                    {% if ads.0.image.img.url %}
                                    <img class="card-img-top" src="{{ ads.0.image.img.url }}" alt="Card image cap">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ ads.0.title }}</h5>
                                        <p class="card-text"><i class="fa fa-star-o" aria-hidden="true">
                                        </i> Category: {{ ads.0.category.name }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-dark">
                                        <small class="text-muted">Latest updates</small>
                                    </div>
                                </div>
                                <div class="card text-white bg-secondary border-light">
                                    {% if ads.1.image.img.url %}
                                    <img class="card-img-top" src="{{ ads.1.image.img.url }}" alt="Card image cap">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ ads.1.title }}</h5>
                                        <p class="card-text"><i class="fa fa-star-o" aria-hidden="true">
                                        </i> Category: {{ ads.1.category.name }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-dark">
                                        <small class="text-muted">Latest updates</small>
                                    </div>
                                </div>
                                <div class="card text-white bg-secondary border-light">
                                    {% if ads.2.image.img.url %}
                                    <img class="card-img-top" src="{{ ads.2.image.img.url }}" alt="Card image cap">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ ads.2.title }}</h5>
                                        <p class="card-text"><i class="fa fa-star-o" aria-hidden="true">
                                        </i> Category: {{ ads.2.category.name }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-dark">
                                        <small class="text-muted">Latest updates</small>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="card-deck">
                                <div class="card text-white bg-secondary border-light">
                                    {% if ads.3.image.img.url %}
                                    <img class="card-img-top" src="{{ ads.3.image.img.url }}" alt="Card image cap">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ ads.3.title }}</h5>
                                        <p class="card-text"><i class="fa fa-star-o" aria-hidden="true">
                                        </i> Category: {{ ads.3.category.name }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-dark">
                                        <small class="text-muted">Latest updates</small>
                                    </div>
                                </div>
                                <div class="card text-white bg-secondary border-light">
                                    {% if ads.4.image.img.url %}
                                    <img class="card-img-top" src="{{ ads.4.image.img.url }}" alt="Card image cap">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ ads.4.title }}</h5>
                                        <p class="card-text"><i class="fa fa-star-o" aria-hidden="true">
                                        </i> Category: {{ ads.4.category.name }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-dark">
                                        <small class="text-muted">Latest updates</small>
                                    </div>
                                </div>
                                <div class="card text-white bg-secondary border-light">
                                    {% if ads.5.image.img.url %}
                                    <img class="card-img-top" src="{{ ads.5.image.img.url }}" alt="Card image cap">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ ads.5.title }}</h5>
                                        <p class="card-text"><i class="fa fa-star-o" aria-hidden="true">
                                        </i> Category: {{ ads.5.category.name }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-dark">
                                        <small class="text-muted">Latest updates</small>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--/.Second slide-->

                <!--Third slide-->
                <div class="carousel-item">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="card-deck">
                                <div class="card text-white bg-secondary border-light">
                                    {% if ads.6.image.img.url %}
                                    <img class="card-img-top" src="{{ ads.6.image.img.url }}" alt="Card image cap">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ ads.6.title }}</h5>
                                        <p class="card-text"><i class="fa fa-star-o" aria-hidden="true">
                                        </i> Category: {{ ads.6.category.name }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-dark">
                                        <small class="text-muted">Latest updates</small>
                                    </div>
                                </div>
                                <div class="card text-white bg-secondary border-light">
                                    {% if ads.7.image.img.url %}
                                    <img class="card-img-top" src="{{ ads.7.image.img.url }}" alt="Card image cap">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ ads.7.title }}</h5>
                                        <p class="card-text"><i class="fa fa-star-o" aria-hidden="true">
                                        </i> Category: {{ ads.7.category.name }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-dark">
                                        <small class="text-muted">Latest updates</small>
                                    </div>
                                </div>
                                <div class="card text-white bg-secondary border-light">
                                    {% if ads.8.image.img.url %}
                                    <img class="card-img-top" src="{{ ads.8.image.img.url }}" alt="Card image cap">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ ads.8.title }}</h5>
                                        <p class="card-text"><i class="fa fa-star-o" aria-hidden="true">
                                        </i> Category: {{ ads.8.category.name }}</p>
                                    </div>
                                    <div class="card-footer text-white bg-dark">
                                        <small class="text-muted">Latest updates</small>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--/.Third slide-->
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% endblock %}


